<div id="aboutModal" tabindex="-1" aria-hidden="true"
  class="fixed inset-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto bg-black/50 backdrop-blur-sm items-center justify-center">
  <div class="relative w-full max-w-md max-h-full animate-fade-slide-up">
    <div class="relative bg-[#1c1c2b] rounded-lg shadow p-6 text-white">
      <!-- Cierre -->
      <button type="button"
        class="absolute top-2 right-2 text-gray-400 hover:text-white rounded-lg text-sm w-8 h-8 flex justify-center items-center"
        data-modal-hide="aboutModal">
        ✕
      </button>

      <!-- Contenido -->
      <h3 class="text-lg font-semibold mb-3" data-i18n="aboutTitle">👤 Sobre mí</h3>
       <p class="text-sm text-gray-300 leading-relaxed"></p>
        Soy un estudiante de Ingeniería Informática en el último año de carrera, con interés especial en participar en proyectos donde pueda aplicar mis conocimientos y demostrar mi potencial.
        Me he enfocado especialmente en Python y Java, y he complementado mi formación con proyectos personales, de los cuáles hablaré un poco más adelante. 
        <br><br>Regarding my English level, I consider it to be solid, and I also hold a Cambridge B2 certification.
        I'm a cheerful, social, and curious person who always looks for deeper understanding and better solutions. I genuinely enjoy working in teams; team sports have been part of my life since I was young, and I’m driven by that sense of shared progress and connection. 
        <br><br>Music plays a meaningful role in my life. I play piano and guitar, 
        and it adds a creative spark that balances my otherwise structured and methodical mindset. I also value planning and believe that starting with a solid foundation is key, poorly thought-out ideas tend to go off track. 
      </p>
    </div>
  </div>
</div>
